BasedOnStyle: Chromium

ColumnLimit: 90

Standard: Auto
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
FixNamespaceComments: true

IncludeCategories:
  - Regex:    '^".*/config.hpp"'
    Priority: 2
  - Regex:    '^".*"'
    Priority: 1
  - Regex:    '^<.*>'
    Priority: 3

